<app-header></app-header>

<ion-content class="ion-padding">
    <div *ngIf="showHomePage">
      <div class="app-field">
        <label for="pseudo">Pseudo</label>
        <input class="text-field" type="text" name="pseudo" [(ngModel)]="pseudo">
      </div>
      <div class="app-field">
        <ion-label for="difficulties">Difficultés</ion-label>
        <ion-select [(ngModel)]="difficultyChoiced">
          <ion-select-option *ngFor="let difficulty of difficultyChoices" [value]="difficulty"> {{difficulty}}</ion-select-option>
        </ion-select>
      </div>
      <div class="app-field">
        <ion-label for="category">Catégories</ion-label>
        <ion-select [(ngModel)]="categoryChoiced">
          <ion-select-option *ngFor="let category of categories" [value]="category.id"> {{category.name}}
          </ion-select-option>
        </ion-select>
      </div>
      <div class="app-field">
        <ion-label for="savedInformations">Sauvegarder les informations</ion-label>
        <ion-toggle  [(ngModel)]="isSavedInformations"></ion-toggle>
      </div>
      <div class="bottom-button">
        <button class="submit-button" (click)="getStart()">Commencer</button>
      </div>
    </div>
    <div *ngIf="showErrorMessage" class="field-error-message">
      <p>{{errorMessage}}</p>
    </div>

</ion-content>
